<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="true"
         bootstrap="test/bootstrap.php"
>
  <testsuites>
    <testsuite name="HtmlNode Test Suite">
      <directory>./test/HtmlNode/</directory>
    </testsuite>
  </testsuites>
    <logging>
        <log type="coverage-html" target="build/reports/coverage/html" charset="UTF-8" />
        <log type="coverage-clover" target="build/reports/coverage/clover.xml" charset="UTF-8" />
        <log type="junit" target="build/reports/coverage/junit.xml" logIncompleteSkipped="false"/>
    </logging>
  <filter>
    <whitelist>
      <directory suffix=".php">./src/HtmlNode/</directory>
        <exclude>
            <directory suffix=".php">./src/Library/</directory>
        </exclude>
    </whitelist>
  </filter>
</phpunit>